.button-position {
  height: 40px;
  margin: 0px 20px;
  background: grey;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}
