@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
.wrapper-home {
  background: url(https://images.pexels.com/photos/295813/pexels-photo-295813.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 50px;
  height: 115vh;
  padding-bottom: 20px;
  .inline-wrapper-home {
    padding-top: 20px;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    height: 115vh;
    .card {
      background: linear-gradient(to right, #055a91, rgba(50, 160, 160, 0.938));
      border-radius: 8px;
      padding: 20px;
      box-sizing: border-box;
      margin: 20px;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
      .mosque {
        height: 40px;
        width: 40px;
        text-align: right;
      }
      .text-title-iftar {
        font-size: 20px;
        font-weight: bold !important;
        font-weight: bold;
        color: #fff;
        font-family: "Julius Sans One", sans-serif;
        margin: 0px 0px 0px 0px;
      }
      .text-region-iftar {
        font-size: 15px;
        font-weight: bold;
        color: #fff;
        font-family: "Julius Sans One", sans-serif;
        margin: 0px 0px 30px 0px;
      }
      .text-date-iftar {
        font-size: 15px;
        font-family: "Julius Sans One", sans-serif;
        color: #fff;
        margin: 5px 0px;
      }
      .text-date-iftar-hijri {
        font-size: 15px;
        color: #fff;
        font-family: "Julius Sans One", sans-serif;
        margin: 0px;
      }
      .text-time-iftar {
        font-size: 40px;
        color: #fff;
        font-weight: bold;
        font-family: "Julius Sans One", sans-serif;
        margin: 0px;
      }
    }
    .title-schedule {
      margin: 40px auto 20px auto;
      color: #fff;
      font-size: 30px;
      font-weight: bold;
      font-family: "Julius Sans One", sans-serif;
      text-align: center;
    }
    .desc {
      color: #fff;
      font-size: 20px;
      font-family: "Julius Sans One", sans-serif;
      text-align: center;
      margin: 20px 20px 60px 20px;
    }
    .wrapper-time {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3px 50px;
      box-sizing: border-box;
      margin: 10px 20px;
      border-radius: 5px;
      .text-time {
        color: #fff;
        font-size: 20px;
        font-family: "Julius Sans One", sans-serif;
        font-weight: 600;
        margin: 0px;
      }
      .text-date {
        color: #fff;
        font-size: 20px;
        font-family: "Julius Sans One", sans-serif;
        margin: 0px;
      }
    }
    .wrapper-time-skeleton {
      padding: 0px 50px;
    }
  }
}

// mobile view
@media (max-width: 768px) {
  .wrapper-home {
    height: 100%;
    .inline-wrapper-home {
      height: 100%;
      margin-bottom: 60px;
    }
  }
}

// iphone 5/SE view
@media (max-width: 320px) {
  .wrapper-home {
    .inline-wrapper-home {
      .wrapper-time {
        padding: 3px 20px;
      }
    }
  }
}
