.card-time {
  background: linear-gradient(to right, #055a91, rgba(50, 160, 160, 0.938));
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  margin: 20px;
  .text-title-iftar {
    font-size: 22px;
    font-weight: 500;
    font-family: "Julius Sans One", sans-serif;
    margin: 0px 0px 0px 0px;
    color: #fff;
  }
  .text-date-iftar-hijri {
    font-size: 16px;
    font-family: "Julius Sans One", sans-serif;
    margin: 0px;
    color: #fff;
  }
  .text-time-iftar {
    font-size: 30px;
    font-weight: 600;
    font-family: "Julius Sans One", sans-serif;
    margin: 0px;
    color: #fff;
  }
}
