.wrapper-doa {
  .title-schedule {
    margin: 100px auto 0px auto;
    color: #010101;
    font-size: 30px;
    font-weight: bold;
    font-family: "Noto Sans";
    text-align: center;
  }
  .text-arabic {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    font-family: "Noto Sans";
    text-align: center;
    margin: 20px 20px 30px 20px;
  }
  .desc {
    color: #010101;
    font-size: 18px;
    font-family: "Noto Sans";
    text-align: center;
    margin: 20px 20px 60px 20px;
  }
  .doa {
    background: url("../../assets/doa.jpg") no-repeat center center;
    height: 150px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 20px 0px;
  }
}
