.wrapper-schedules {
  background: #fff;
  padding-bottom: 10px;
  .title-schedule {
    margin: 20px auto 0px auto;
    color: #010101;
    font-size: 28px;
    font-weight: bold;
    font-family: "Julius Sans One", sans-serif;
    text-align: center;
  }
  .desc {
    color: #000;
    font-size: 18px;
    font-family: "Julius Sans One", sans-serif;
    text-align: center;
    margin: 20px 20px 60px 20px;
  }
  .text-region-iftar {
    color: #000;
    font-size: 14px;
    font-family: "Julius Sans One", sans-serif;
    text-align: center;
    margin: 10px 0px 20px 0px;
  }
  .table {
    margin: 0px 0px 60px 0px;
    @media (max-width: 600px) {
      overflow: auto;
      white-space: nowrap;
      background: white;
    }
  }
}
